.section__packages{
        background-image:
            url('/images/Ellipse\ 1574.png'),
            url('/images/Ellipse\ 1575.png'),
            url('/images/Ellipse\ 1573.png');

    
        background-position:
            0 15% ,
            0 65% ,
            70% 30%;
 
    
        background-repeat: no-repeat;
        background-size:
            536px 536px,
            340px 340px,
            600px 600px;

}

.packages__container{
    margin-top: 60px !important;
    margin-bottom: 0 !important;
}

.section-block, .block-btn{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.section-title{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 68px;
    line-height: 84px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #20115A;
}


.section-subtitle{
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 23px;
    line-height: 37px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #20115A;
    margin: 30px 0 60px ;
}

.section-list{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding-left: 0 !important;
    z-index: 15;
}

.list-item{
    position: relative;
    padding: 10px 15px 10px 45px;
    background: #F3F5F9;
    border-radius: 20px;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 37px;
    letter-spacing: 0%;
    color:  #20115A;

    span{
        font-weight: 700;
    }
}

.list-item::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 17.5px;
    height: 17.5px;
    background: url('/images/Li-style.svg') no-repeat center / contain;
}

.section-img-mobile::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 740px;
    height: 350px;
    background: url('../images/Frame\ 17.png') no-repeat center / contain;
    z-index: 10;
}

.section-img::before {
    content: '';
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 740px;
    height: 350px;
    background: url('../images/Frame\ 17.png') no-repeat center / contain;
    z-index: 10;
}

.section-img-mobile{
    max-width: 487px;
    max-height: 804px;
    width: 100%;
    height: 100%;
    display: none;
    img{
        width: 100%;
        height: 100%;
    }
}

.block-btn{
    gap: 20px;
    margin: -30px 0 30px;
}

.btn-price, .btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    max-width: 570px;
    height: 90px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #743CFE;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    color:#743CFE;
    cursor: pointer;
}

.btn{
    background-color: #743CFE;
    color: #FFFFFF !important;
}

.section-text{
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #20115A;
}


.careers__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.careers__right {
    position: relative;
}

.careers__left {
    position: relative;
}

.careers__left::after {
    content: '';
    position: absolute;
    right: -38%;
    bottom: -15%;
    width: 28px;
    height: 28px;
    background: url('../images/Ellipse-5.svg') no-repeat center / contain;
    z-index: 100;
}

.careers__left::before{
    content: '';
    position: absolute;
    right: -30%;
    bottom: -13%;
    width: 60px;
    height: 60px;
    background: url('../images/Ellipse-3.svg') no-repeat center / contain;
    z-index: 100;
}

.services__icon1,
.services__icon3,
.services__icon5{
    margin-left: -27px;
}

.services__icon2{
    margin-left: -37px;
}

.services__icon3{
    margin-top: -4px;
}

.title3, .title5{
    margin-top: 43.75px !important;
}

.services__icon4{
    margin-left: -35px;
    margin-top: 5px;
}

.title4 {
    margin-top: 34.75px;
}

.services__icon5{
    margin-top: -5px;
}

.services__icon6{
    margin-left: -25px;
}

.carousel__item {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 550px;
    height: 310px;
    border-radius: 24px;

    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;

    transition:
        transform 1.5s cubic-bezier(.22, .61, .36, 1),
        opacity 0.6s ease;

    z-index: 1;
    backface-visibility: hidden;
    will-change: transform, opacity;
}

/* ===== ФОН ТОЛЬКО ДЛЯ ГЛАВНОЙ КАРТОЧКИ ===== */
.carousel__item--main::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 24px;

    background: url(../images/slide-activ.png) no-repeat center / cover;

    opacity: 1;
    transition: opacity 0.6s ease;
    transition-delay: 0.6s;
    /* задержка перед проявлением фона */
    z-index: -1;

    pointer-events: none;
}

/* верхняя карточка */
.carousel__item--top {
    background: url(../images/Gradient.png) no-repeat center / cover;
    transform: translate(-50%, -70%) scale(0.92);
    opacity: 1;
    z-index: 3;
}

/* нижняя карточка */
.carousel__item--bottom {
    background: url(../images/Gradient.png) no-repeat center / cover;
    transform: translate(-50%, -30%) scale(0.92);
    opacity: 1;
    z-index: 3;
}

/* главная карточка */
.carousel__item--main {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    z-index: 5;
}

/* карточка выходит */
.carousel__item--exit {
    z-index: 4;
    animation: slideUpFade 1.3s forwards;
}

/* анимация подъёма */
@keyframes slideUpFade {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -70%) scale(0.92);
        opacity: 0;
    }
}

/* .carousel {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: visible;
}

.swiper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel__item {
    position: relative;
    width: 550px;
    height: 310px !important;
    border-radius: 24px;
    background: url(../images/Gradient.png) no-repeat center / cover;
    transform: scale(0.9) !important;
    opacity: 0.6;
    z-index: 1;
    transition:
        transform 0.7s cubic-bezier(.22, .61, .36, 1),
        opacity 0.9s ease,
        z-index 0s;
}

.swiper-slide-active {
    transform: scale(1) !important;
    opacity: 1;
    width: 550px;
    max-height: 310px;
    height: 100%;
    background: url(../images/slide-activ.png) no-repeat center / cover;
    z-index: 10;
}


.swiper-slide-prev,
.swiper-slide-next {
    transform: scale(0.9);
    opacity: 0.8;
    z-index: 5;
}


.swiper-slide:not(.swiper-slide-active,
    .swiper-slide-prev,
    .swiper-slide-next) {
    transform: scale(0.8) !important;
    opacity: 0;
    z-index: 1;
}

.carousel__item * {
    pointer-events: none;
}

.careers-pagination {
    margin-top: 24px;
    text-align: center;
}

.careers-pagination .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
    display: inline-block;
    margin: 0 4px;
}

.careers-pagination .dot-active {
    background: #000;
} */

/* 
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel__item {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 550px;
    height: 310px;
    border-radius: 24px;
    transform: translate(-50%, -50%) scale(0.90);
}

.carousel__item--top {
    background: url(../images/Gradient.png) no-repeat center / cover;
    transform: translate(-50%, -70%) scale(0.90);
    z-index: 1;
}

.carousel__item--bottom {
    background: url(../images/Gradient.png) no-repeat center / cover;
    transform: translate(-50%, -30%) scale(0.90);
    z-index: 1;
}


.carousel__item--main {
    background: url(../images/slide-activ.png) no-repeat center / cover;
    transform: translate(-50%, -50%) scale(1);
    z-index: 3;
}


.carousel__item--exit {
    animation: mainOut 2.5s cubic-bezier(.22, .61, .36, 1);
    z-index: 4;
}


.carousel__item--enter {
    animation: mainInHold 6s cubic-bezier(.22, .61, .36, 1);
    z-index: 5;
}


 @keyframes mainInHold {
    0% {
        transform: translate(-50%, -30%) scale(0.90);
    }

    30% {
        transform: translate(-50%, -50%) scale(1);
    }

    70% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -70%) scale(0.90);
    }
} 



@keyframes mainOut {
    from {
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        transform: translate(-50%, -70%) scale(0.90);
    }
}  */




/* .careers-pagination{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    top: 50%;
    left: 95%;
    transform: translateY(-50%);
}


.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4A75DB;
} */



.slider-block{
    display: flex;
    justify-content: space-between;
    padding: 32px 15px 32px 32px;
}

.slider-img-block{
    width: 250px;
    height: 250px;
}

.slider-img-block img{
    height: 100%;
}


.slider-logo{
    width: 76px;
    height: 16px;
    margin-bottom: 50px;
    img{
        width: 100%;
        height: 100%;
    }
}


.text-block-title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 34.38px;
    line-height: 47.32px;
    background: linear-gradient(273.25deg, #BDFFEA 37.68%, #C3B9FF 66.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-block-subtitle{
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 12.89px;
    line-height: 16.33px;
    background: linear-gradient(273.25deg, #FFFFFF 37.42%, #D8D7E3 49.41%, #FFFFFF 66.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 21px 0 11px 0;
}

.text-block-text{
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 10.03px;
    line-height: 14.32px;
    background: linear-gradient(273.25deg, #FFFFFF 37.42%, #D8D7E3 49.41%, #FFFFFF 66.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.careers-pagination {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.dot {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4A75DB !important;
    cursor: default !important;
}

.dot.dot-active {
    width: 16px;
    height: 16px;
    background: #7737E5 !important;
}

.mobile-title-block{
    display: none;
}



@media (max-width: 1200px) {
    .section-title {
        font-size: 50px;
    }
}


@media (max-width: 1000px) {
    .section-block {
        flex-direction: column;
    }

    .careers-pagination {
        display: none;
    }

    .section-img {
        max-width: 487px;
        max-height: 804px;
        width: 100%;
        height: 100%;
        display: none !important;
    }

    .section-img-mobile{
        display: block !important;
        margin: 0 auto;
    }

    .block-btn {
        flex-direction: column;
        align-items: center;
    }
    .section__packages{
        margin-bottom: -120px;
    }

    .careers__block{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 200px !important;
    }

    .careers__right{
        order: 1;
        margin-top: 100px;
    }

    .careers__left{
        order: 2;
    }

    .careers-pagination {
        right: 15%;
        transform: translate(50%, -50%);
    }

         .carousel{
        margin-bottom: 80px !important;
    }
}

@media (max-width: 640px) {

    .packages__container {
        margin-top: 0 !important;
        /* margin-bottom: -60px !important; */
    }
    .section-title {
        font-size: 30px;
    }
    .section-subtitle {
        font-size: 20px;
        margin: 0px 0 40px;
    }

    .list-item {
        font-size: 18px;
        line-height: 28px;
    }

    .slider-block{
        flex-direction: column;
        align-items: center;
        padding: 32px 15px;
    }

    .slider-text-block{
        order: 2;
    }

    .slider-img-block{
        order:1;
    }


    .carousel__item {
        width: 90%;
        height: 500px;
    }

    .carousel__item--top,
    .carousel__item--bottom {
        display: none;
    }

    .carousel__item--main {
        display: block;
        width: 100%;
        max-width: 350px;

    }

    .text-block-title {
        display: none;
    }

    .text-block-subtitle {
        text-align: start;
        font-size: 19.74px;
        margin-left: 15px;
    }

    .text-block-text {
        text-align: start;
        font-size: 17.74px;
        margin-left: 15px;
    }

    .slider-logo{
        display: none;
    }

    .mobile-title-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 39px;
        width: 90%;
        height: 100%;
        padding: 5px 15px;
        margin-bottom: 22px;
        border-radius: 10px;
        box-shadow: 0px 2.96px 3.15px 0px #00000045;
        background: linear-gradient(273.25deg, #BDFFEA 37.68%, #C3B9FF 66.44%);
    }

    .text-block-title-mobile{
        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 19.74px;
        line-height: 28.11px;

    }

    .swiper-wrapper {
        flex-direction: row;
        justify-content: flex-start;
    }

    .swiper-slide-active, .swiper-slide-prev,
    .swiper-slide-next {
        width: 100%;
        min-height: 500px !important;
        max-height: 610px !important;
        height: 100% ;
        margin-bottom: 80px !important;
    }

    .section__clients {
        position: relative;
        z-index: 10;
    }

    .careers__block {
        gap: 250px !important;
        margin-top: 200px;
    }
}
